In [7]:
import pandas as pd

In [13]:
import seaborn as sns

# Load the Iris dataset
iris = sns.load_dataset('iris')

# Display the first few rows of the dataset
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
# Check for data types and missing values
df.info()

# Display summary statistics for numerical columns
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   # Load the dataset  15 non-null     object
dtypes: object(1)
memory usage: 252.0+ bytes

                        # Load the dataset
count                                   15
unique                                  13
top     df = pd.read_csv('sales_data.csv')
freq                                     2

In [10]:
# Drop rows with missing values
df_cleaned = df.dropna()

# Verify the changes
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   # Load the dataset  15 non-null     object
dtypes: object(1)
memory usage: 252.0+ bytes

In [11]:
# Save the cleaned dataset to a new CSV file
df_cleaned.to_csv('cleaned_sales_data.csv', index=False)

In [12]:
# Display the cleaned dataset
df_cleaned.head()

                   # Load the dataset
0  df = pd.read_csv('sales_data.csv')
1                 import pandas as pd
2                  # Load the dataset
3  df = pd.read_csv('sales_data.csv')
4        # Display the first few rows